node_modules/
/out
/build
/.gradle
/logs
/c:
/.idea
.idea/
*.iml
flow.txt
assets/.DS_Store
assets/gui/.DS_Store
assets/gui/tasks/.DS_Store
assets/gui/tasks/desertSurvival/.DS_Store
assets/gui/tasks/jobs/.DS_Store
assets/gui/tasks/shelters/.DS_Store
assets/gui/tasks/tools/.DS_Store
.DS_Store
src/main/kotlin/furhatos/app/cardgame/audiosource/recording.mp4
src/main/kotlin/furhatos/app/cardgame/audiosource/recording.video
